<section class="card" *ngFor="let job of jobs">
    <a [routerLink]="['/jobDetails', job.id]" class="flex gap-4 flex-col sm:flex-row items-start">
        <img [src]="'http://localhost:8080/api/job/' + job.recruteur.id + '/logo'" alt="Company Logo" />
          <div>
              <h4 class="text-primary mb-1"> {{ job.recruteur.societe }}</h4>
              <h3 class="text-lg font-semibold mb-2"> {{ job.title }}</h3>
    
             <div class="text-primary/70 text-base flex flex-wrap gap-2 mb-2">
                 <span class="flex items-center gap-2"><fa-icon [icon]="faLocationDot"></fa-icon> {{ job.location }}</span>
                 <span class="flex items-center gap-2"><fa-icon [icon]="faClock"></fa-icon> {{ job.type }}</span>
                 <span class="flex items-center gap-2"><fa-icon [icon]="faCalendar"></fa-icon>{{ job.datepub }}</span>
             </div>
    
             <p class="text-base text-primary/70">{{ job.description }}</p>
            </div>
    </a>
</section>
