<header class="max-w-screen-2xl mx-auto xl:px-24 px-4">
    <nav class="flex justify-between items-center py-6">
        <a href="/" class="flex items-center gap-2 text-2xl text-black">
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="30" viewBox="0 0 29 30" fill="none">
                <circle cx="12.0143" cy="12.5143" r="12.0143" fill="#3575E2" fill-opacity="0.4" />
                <circle cx="16.9857" cy="17.4857" r="12.0143" fill="#3575E2" />
            </svg>
            <span>JobPortal</span>
        </a>
        <div class="flex-1 flex justify-center">
            <ul class="flex gap-12">
                <li *ngIf="!authService.isCandidatLoggedIn() && !authService.isRecruteurLoggedIn()">
                    <a class="text-base text-primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Start a search</a>
                </li>
                <li *ngIf="authService.isCandidatLoggedIn()">
                    <a class="text-base text-primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Start a search</a>
                </li>
                <li *ngIf="authService.isCandidatLoggedIn()">
                    <a class="text-base text-primary" routerLink="/my-job" routerLinkActive="active">My Job</a>
                </li>
              <!--  <li *ngIf="authService.isCandidatLoggedIn()">
                    <a class="text-base text-primary" routerLink="/salary" routerLinkActive="active">Salary Estimate</a>
                </li> -->
                <li *ngIf="authService.isRecruteurLoggedIn()">
                    <a class="text-base text-primary" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Start a search</a>
                </li>
                <li *ngIf="authService.isRecruteurLoggedIn()">
                    <a class="text-base text-primary" routerLink="/post-job" routerLinkActive="active">Post A Job</a>
                </li>
                <li *ngIf="authService.isRecruteurLoggedIn()">
                    <a class="text-base text-primary" routerLink="/listjob" routerLinkActive="active">Job Listing</a>
                </li>
            </ul>
        </div>
        <div class="text-base text-primary font-medium space-x-5 hidden lg:flex">
            <a *ngIf="!authService.isCandidatLoggedIn() && !authService.isRecruteurLoggedIn()" class="py-2 px-5 border rounded" routerLink="/loginRec">Recruiter</a>
            <a *ngIf="!authService.isCandidatLoggedIn() && !authService.isRecruteurLoggedIn()" class="py-2 px-5 border rounded bg-blue text-white" routerLink="/loginCan">Candidate</a>
            <div *ngIf="authService.isCandidatLoggedIn() || authService.isRecruteurLoggedIn()" class="flex items-center gap-4">
                <img *ngIf="avatarOrLogoUrl" [src]="avatarOrLogoUrl" alt="User Avatar" class="w-12 h-12 rounded-full cursor-pointer" (click)="navigateToProfile()">
                <button class="py-2 px-5 border rounded bg-blue text-white" (click)="logout()">Logout</button>
            </div>
        </div>
    </nav>
</header>
