<div>
    <div>
        <h3 class="text-lg font-bold mb-2 flex items-center gap-2"><fa-icon [icon]="faEnvelopeOpenText"></fa-icon>
            Email me for hobs</h3>
        <p class="text-primary/75 text-base mb-4">Please feel free to email me if you're interested in learning more 
            about the job opportunities available on our platform.</p>

        <div class="w-full space-y-4">
            <input type="email" name="email" id="email" placeholder="name@gmail.com"
            class="w-full block py-2 pl-3 border focus:outline-none"/>
            <input type="submit" value="Subscribe" class="w-full block py-2 pl-3 border focus:outline-none
            bg-blue rounded-sm text-white cursor-pointer font-semibold"/>
        </div>
    </div>
    <div class="mt-20">
        <h3 class="text-lg font-bold mb-2 flex items-center gap-2"><fa-icon [icon]="faRocket"></fa-icon>
            Get noticed faster</h3>
        <p class="text-primary/75 text-base mb-4">Enhance your visibility and get noticed more quickly.</p>

        <div class="w-full space-y-4">
            <input type="submit" value="Upload your resume" class="w-full block py-2 pl-3 border focus:outline-none
            bg-blue rounded-sm text-white cursor-pointer font-semibold"/>
        </div>
    </div>
</div>
