<div class="space-y-5">
    <h3 class="text-lg font-bold mb-2">Filters</h3>
    <div>
      <h4 class="text-lg font-medium md-2">Location</h4>
      <div>
        <label class="sidebar-label-container">
          <input type="radio" name="location" (change)="selectedLocation=''" (change)="onFilterChange()" /><span class="checkmark"></span> All
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="location" (change)="selectedLocation='Tunis'" (change)="onFilterChange()" /><span class="checkmark"></span> Tunis
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="location" (change)="selectedLocation='Charguia'" (change)="onFilterChange()" /><span class="checkmark"></span> Charguia
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="location" (change)="selectedLocation='Monplaisir'" (change)="onFilterChange()" /><span class="checkmark"></span> Monplaisir
        </label>
      </div>
    </div>
  
    <div>
      <h4 class="text-lg font-medium md-2">Date of posting</h4>
      <div>
        <label class="sidebar-label-container">
          <input type="radio" name="datepub" (change)="selectedDatepub=''" (change)="onFilterChange()" /><span class="checkmark"></span> All time
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="datepub" (change)="selectedDatepub='24h'" (change)="onFilterChange()" /><span class="checkmark"></span> Last 24 hours
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="datepub" (change)="selectedDatepub='7d'" (change)="onFilterChange()" /><span class="checkmark"></span> Last 7 days
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="datepub" (change)="selectedDatepub='1m'" (change)="onFilterChange()" /><span class="checkmark"></span> Last Month
        </label>
      </div>
    </div>
  
    <div>
      <h4 class="text-lg font-medium md-2">Type of employment</h4>
      <div>
        <label class="sidebar-label-container">
          <input type="radio" name="type" (change)="selectedType='REMOTE'" (change)="onFilterChange()" /><span class="checkmark"></span> Remote
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="type" (change)="selectedType='HYBRID'" (change)="onFilterChange()" /><span class="checkmark"></span> Hybrid
        </label>
        <label class="sidebar-label-container">
          <input type="radio" name="type" (change)="selectedType='ONSITE'" (change)="onFilterChange()" /><span class="checkmark"></span> On-Site
        </label>
      </div>
    </div>
  </div>
  