<div class="space-y-5">
    <h3 class="text-lg font-bold mb-2">Filters</h3>
    <div>
        <h4 class="text-lg font-medium md-2">Location</h4>

        <div>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>All
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>London
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>Madrid
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>Paris
            </label>
        </div>
    </div>
    <div>
        <h4 class="text-lg font-medium mb-2">Salary</h4>

        <div class="mb-4">
            <button class="px-4 py-1 border text-base hover:bg-blue hover:text-white">Hourly</button>
            <button class="px-4 py-1 border text-base hover:bg-blue hover:text-white">Monthly</button>
            <button class="px-4 py-1 border text-base hover:bg-blue hover:text-white">Yearly</button>
        </div>

        <div>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>&lt;30000k
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>&lt;50000k
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>&lt;70000k
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>&lt;90000k
            </label>
        </div>
    </div>
    <div>
        <h4 class="text-lg font-medium md-2">Date of posting</h4>

        <div>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>All time
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>Last 24 hours
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>Last 7 days
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>Last Month
            </label>
        </div>
    </div>

    <div>
        <h4 class="text-lg font-medium md-2">Type of employment</h4>

        <div>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>Remote
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>Hybrid
            </label>
            <label class="sidebar-label-container">
                <input type="radio" name="test" id="test" value=""/>
                <span class="checkmark"></span>On-Site
            </label>
        </div>
    </div>
</div>
