<app-navbar></app-navbar>
<div class="bg-gray-100 min-h-screen">
  <div class="container mx-auto py-5">
    <div class="grid grid-cols-1 lg:grid-cols-1 gap-6">
      <div class="lg:col-span-1">
        <div class="bg-white shadow rounded-lg mb-6 p-6 border border-gray-300">
          <div class="flex items-center justify-between mb-4">
            <div>
              <h2 class="text-2xl font-bold text-gray-800">{{ job.title }}</h2>
              <p class="text-gray-600">{{ job.recruteur.societe }}</p>
            </div>
            <img class="h-12 w-12 rounded-full" [src]="'http://localhost:8080/api/job/' + job.recruteur.id + '/logo'" alt="Company Logo">
          </div>
          <div class="flex flex-wrap text-gray-600 mb-4 justify-between">
            <div>
              <fa-icon [icon]="faLocationDot"></fa-icon> {{ job.location }}
            </div>
            <div>
              <fa-icon [icon]="faClock"></fa-icon> {{ job.type }}
            </div>
            <div>
              <fa-icon [icon]="faCalendar"></fa-icon> {{ job.datepub }}
            </div>
          </div>
          <hr class="border-gray-300 my-4">
          <p class="text-gray-600"><strong>Deadline:</strong> {{ job.deadline }}</p>
        </div>

        <!-- Job Details -->
        <div class="bg-white shadow rounded-lg mb-6 p-6 border border-gray-300">
          <h3 class="text-xl font-semibold text-gray-800 mb-4">Job Details:</h3>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div>
              <h4 class="text-lg font-semibold text-gray-800 mb-2">Description:</h4>
              <p class="text-gray-700">{{ job.description }}</p>
            </div>
            <div>
              <h4 class="text-lg font-semibold text-gray-800 mb-2">Requirements:</h4>
              <p class="text-gray-700">{{ job.requirements }}</p>
            </div>
            <div>
              <h4 class="text-lg font-semibold text-gray-800 mb-2">Skills:</h4>
              <p class="text-gray-700">{{ job.skills }}</p>
            </div>
            <div>
              <h4 class="text-lg font-semibold text-gray-800 mb-2">Degree:</h4>
              <p class="text-gray-700">{{ job.niveau }}</p>
            </div>
            <div>
              <h4 class="text-lg font-semibold text-gray-800 mb-2">Benefits:</h4>
              <p class="text-gray-700">{{ job.avantages }}</p>
            </div>
            <div>
              <h4 class="text-lg font-semibold text-gray-800 mb-2">Contract Type:</h4>
              <p class="text-gray-700">{{ job.contrat }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>